.container {
  max-width: 1000px; }

header {
  border-bottom: 1px solid LightGray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  header a {
    display: inline-block;
    margin: 20px; }

main {
  text-align: center; }
