{% extends "layout.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <h1 class="text-center mb-4">Rejestracja</h1>
        {% include "alerts.html" %}
      </div>
    </div>
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <form method="POST">
          <input name="name" type="text" class="form-control my-2" placeholder="Imię" value="{{ post.name }}">
          <input name="email" type="email" class="form-control my-2" placeholder="Email" value="{{ post.email }}">
          <input name="password" type="password" class="form-control my-2" placeholder="Hasło" value="{{ post.password }}">
          <input name="confirm" type="password" class="form-control my-2" placeholder="Powtórz hasło" value="{{ post.passwordConfirmation }}">
          <button name="submit" type="submit" class="btn btn-primary btn-lg btn-block my-2">Załóż konto</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}